<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      /**body { font-family: 'Liberation Sans'; }*/ .container{ width: 100%;
      margin: 0 auto; } .header { position: fixed; top: 0px; left: 0px; right:
      0px; height: 100px; } .footer { position: fixed; bottom: 0px; left: 0px;
      right: 0px; height: 120px; } body { font-family: 'Arial' } table{ width:
      100%; } table,th, td { page-break-inside: auto; } .strong { font-weight:
      bold; } .bordered { border: 1px solid black; } .font-10 { font-size: 10px;
      } .font-12 { font-size: 12px; } .font-14 {font-size: 14px; } .font-16 {
      font-size: 16px; } .font-18 { font-size:18px; }.font-24 { font-size:24px;
      } .extra-spacing-tr { height: 20px; } .header { height: 60px; } tr
      {page-break-inside: avoid; page-break-after: auto; } thead {
      display:table-header-group; } tfoot { display: table-footer-group; }
      .to_title{ margin-top: 0px;}.to_title_div{ text-align: center; }
      .to_content{page-break-inside: auto; margin-top: 120px; margin-left: 40px;
      margin-right: 40px; } .to_number{margin-right: 100px;} .employee_table{
      }.recommending_approval{ display: flex; justify-content: space-between; }
      .underline{ border-bottom:1px solid black } #eval_table tr td, #eval_table
      tr th{ padding: 8px; } #eval_table{ page-break-after: always; } #f_table
      th,#f_table td,#eval_table th,#eval_table td{ border: 1px solid black; }
      #f_table,#eval_table, #mySched{ border-collapse: collapse; } 
      #eval_table{ border: 1px solid black; } #mySched  td{ border:
      1px solid black; padding: 2px;width:  11.11%;} 
    </style>
  </head>

  <body>
    {{#each this}}

      <div class='container'>
        <div class='header'>
          <img src="data:image/png;base64,{{header_img}}" style="width:100%;"/>
        </div>
        <div class='footer'>

          {{!-- <img
            style='position:fixed; bottom:0; left:0;right:0;'
            src='data:image/png;base64, {{footer_img}}'
            width='100%'
            alt=''
          /> --}}
        </div>

        
          <div style='width: 100%;'>
            <table
              style='margin:0 auto; width: 100%; page-break-inside:auto; table-layout:fixed'
            >
              {{! // Add this css to make main table fixed, child tables will still scroll }}
              <thead>
                <tr>
                  <td colspan='2'>
                    <div style='height: 100px;'></div>
                  </td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan='2'>
                    <div style='height: 80px;'></div>

                  </td>
                </tr>
              </tfoot>
        
              <tbody class=""> 
                <tr>
                    <td colspan="">
                        <tr class="strong" >
                     
                       
                        <td colspan="2" class="font-20"><div style="  display: flex;align-items: center;justify-content: center; margin-bottom:20px">
                          REPORT ON LEARNING PROGRESS AND ACHIEVEMENT
                        </div></td>

                        </tr>
                        <tr class="strong" >
                        <td class="font-14">Student Name: &nbsp;<u>{{student.name}}</u></td>
                        </tr>
                    
                    </td>
                </tr>
               
                <tr class="font-18 strong"> 
                    <td colspan="2">
                      <div style="  display: flex;align-items: center;justify-content: center;">
                         {{#ifCond junior true}}
                         <h3></h3>
                           {{else}}
                           <h3>1st Semester</h3>
                            {{/ifCond}}
                      
                      </div>
                    </td>
                </tr>
                <tr>
                <td colspan='2' >
                  <div></div>
                    <table id="mySched" style="width:100%">
                        <tr>
                        <td rowspan="2" align="center" style="width:40%">
                          Core Subjects
                        </td>
                           {{#ifCond junior true}}
                        <td colspan="4" align="center" style="width:20%">Quarter</td>
                         {{else}}
                        <td colspan="2" align="center" style="width:20%">Quarter</td>
                          {{/ifCond}}
                        <td rowspan="2" align="center" style="width:10%">Final Grade</td>
                        <td rowspan="2" align="center" style="width:10%">Remarks</td>
                        </tr>
                        <tr> 
                          <td align="center">1st </td>
                          <td align="center">2nd </td>
                           {{#ifCond junior true}}
                              <td align="center">3rd </td>
                              <td align="center">4th </td>
                            {{else}}
                            {{/ifCond}}
                       
                        </tr>
                          {{#ifCond junior false}}
                          {{#studentData}}
                          {{#firstSem}}
                           <tr>
                              <td align="center">{{subject}}</td>
                              <td align="center">{{this.[1st Quarter]}}</td>
                              <td align="center">{{this.[2nd Quarter]}}</td>
                                {{#ifCond junior true}}
                              <td align="center">{{this.[3rd Quarter]}}</td>
                              <td align="center">{{this.[4th Quarter]}}</td>
                               {{else}}
                                {{/ifCond}}
                              <td align="center"><b>{{finalGrade}}</b></td>
                              <td align="center">{{remarks}}</td>
                            </tr>
                        {{/firstSem}}
                        {{/studentData}}
                              {{else}}
                        {{#studentData}}
                          {{#juniorHigh}}
                           <tr>
                            {{#ifCond subject 'General Average'}}
                              <td align="right" colspan="{{this.conspan}}" class="strong">{{subject}}:</td>
                              <td align="center"><b>{{finalGrade}}</b></td>
                              <td align="center">{{remarks}}</td>
                              {{else}}
                             <td align="left" colspan="{{this.conspan}}">{{subject}}</td>
                              <td align="center">{{this.[1st Quarter]}}</td>
                              <td align="center">{{this.[2nd Quarter]}}</td>
                              <td align="center">{{this.[3rd Quarter]}}</td>
                              <td align="center">{{this.[4th Quarter]}}</td>
                              <td align="center"><b>{{finalGrade}}</b></td>
                              <td align="center">{{remarks}}</td>
                              {{/ifCond}}
                             
                            </tr>
                        {{/juniorHigh}}
                        {{/studentData}}
                        {{/ifCond}}
                    </table>
                </tr>

                {{#ifCond junior false}}
                  <tr class="font-18 strong"> 
                    <td colspan="2">
                      <div style="  display: flex;align-items: center;justify-content: center; margin-top:20px">
                       2nd Semester
                      </div>
                    </td>
                  </tr>
                  <tr>
             
                <td colspan='2' >
                  <div></div>
                    <table id="mySched" style="width:100%">
                        <tr>
                        <td rowspan="2" align="center">
                          Core Subjects
                        </td>
                        <td colspan="2" align="center">Quarter</td>
                      
                        <td rowspan="2" align="center">Final Grade</td>
                        <td rowspan="2" align="center">Remarks</td>
                        </tr>
                        <tr> 
                          <td align="center">1st </td>
                          <td align="center">2nd </td>
                        </tr>
                       {{#studentData}}
                          {{#secondSem}}
                           <tr>
                              <td align="center">{{subject}}</td>
                              <td align="center">{{this.[1st Quarter]}}</td>
                              <td align="center">{{this.[2nd Quarter]}}</td>
                              <td align="center"><b>{{finalGrade}}</b></td>
                              <td align="center">{{remarks}}</td>
                            </tr>
                        {{/secondSem}}
                        {{/studentData}}
                    </table>
                  </tr>
                  {{else}}
                  {{/ifCond}}
                {{!-- <tr class="font-12"> 
                    <td>
                      <div style="margin-top: 35px;">
                        Prepared by:____________________
                      </div>
                    </td>
                </tr> --}}
             
              </tbody>
            </table>
          </div>
      </div>
    {{/each}}
  </body>

</html>