<html lang='en'>

  <head>
    <meta charset='UTF-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <title>Document</title>
    <style>
      /**body { font-family: 'Liberation Sans'; }*/ .container{ width: 100%;
      margin: 0 auto; } .header { position: fixed; top: 0px; left: 0px; right:
      0px; height: 100px; } .footer { position: fixed; bottom: 0px; left: 0px;
      right: 0px; height: 120px; } body { font-family: 'Arial' } table{ width:
      100%; } table,th, td { page-break-inside: auto; } .strong { font-weight:
      bold; } .bordered { border: 1px solid black; } .font-10 { font-size: 10px;
      } .font-12 { font-size: 12px; } .font-14 {font-size: 14px; } .font-16 {
      font-size: 16px; } .font-18 { font-size:18px; }.font-24 { font-size:24px;
      } .extra-spacing-tr { height: 20px; } .header { height: 60px; } tr
      {page-break-inside: avoid; page-break-after: auto; } thead {
      display:table-header-group; } tfoot { display: table-footer-group; }
      .to_title{ margin-top: 0px;}.to_title_div{ text-align: center; }
      .to_content{page-break-inside: auto; margin-top: 120px; margin-left: 40px;
      margin-right: 40px; } .to_number{margin-right: 100px;} .employee_table{
      }.recommending_approval{ display: flex; justify-content: space-between; }
      .underline{ border-bottom:1px solid black } #eval_table tr td, #eval_table
      tr th{ padding: 8px; } #eval_table{ page-break-after: always; } #f_table
      th,#f_table td,#eval_table th,#eval_table td{ border: 1px solid black; }
      #f_table,#eval_table, #mySched{ border-collapse: collapse; } 
      #eval_table{ border: 1px solid black; } #mySched  td{ border:
      1px solid black; padding: 2px;width:  11.11%;} 
    </style>
  </head>

  <body>
    {{#each this}}

      <div class='container'>
        <div class='header'>
          <img
            src='data:image/png;base64, {{header_img}}'
            width='100%'
            alt=''
          />

        </div>
        <div class='footer'>

          {{!-- <img
            style='position:fixed; bottom:0; left:0;right:0;'
            src='data:image/png;base64, {{footer_img}}'
            width='100%'
            alt=''
          /> --}}
        </div>

        
          <div style='width: 100%;'>
            <table
              style='margin:0 auto; width: 100%; page-break-inside:auto; table-layout:fixed'
            >
              {{! // Add this css to make main table fixed, child tables will still scroll }}
              <thead>
                <tr>
                  <td colspan='2'>
                    <div style='height: 110px;'></div>
                  </td>
                </tr>
              </thead>
              <tfoot>
                <tr>
                  <td colspan='2'>
                    <div style='height: 80px;'></div>

                  </td>
                </tr>
              </tfoot>
        
              <tbody class=""> 
                <tr >
                    <td colspan="2" align="center">List of Underload and Overloaded Faculty </td>
                </tr>
                <tr>
                  <td colspan='2'>
                    <table id="mySched" style="width:100%">
                    <tr>
                    <tr>
                    <td    align='center' class="font-12">Name</td>
                    <td    align='center' class="font-12">Position</td>
                    <td    align='center' class="font-12">Loaded Hour</td>
                    
                    <td    align='center' class="font-12">Hours Underload</td>
                    
                    
                    <td    align='center' class="font-12">Hours Overload</td>
                    {{!-- <td    align='center' class="font-12">Subjects</td> --}}
                </tr>
                    {{#load}}
                <tr>
                   <td class="font-12" style="text-transform: uppercase;">{{name}}</td>
                  <td   align='center' class="font-12">{{education}}</td>
                  <td   align='center' class="font-12">{{hours}}</td>
                  <td   align='center' class="font-12">{{underload}}</td>
                  <td   align='center' class="font-12">{{overload}}</td>
                </tr>
                  {{/load}}
                    </table>
                </tr>
                <tr class="font-12"> 
                    <td>
                      <div style="margin-top: 35px;">
                        Prepared by:____________________
                      </div>
                    </td>
                </tr>
             
              </tbody>
            </table>
          </div>
      </div>
    {{/each}}
  </body>

</html>